<!DOCTYPE  html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Todo Lists!</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
		<link rel='stylesheet prefetch' href='scripts/lib/font-awesome-4.5.0/css/font-awesome.min.css'>
	</head>
	<body>
		<p id='error' hidden="hidden"></p>
		<section id='todolistSection' class='todolisManager'>
			<h5 hidden>Todolist</h5>
			<a href='/' class='homeLink'><i class="fa fa-home"></i></a>
			<section id='userNotLogged'  >
				<h5 hidden>You Aren't logged</h5>

				<div class="toggle" >
					<i class="fa fa-times fa-pencil" id='loginRegistrationToggle'></i>
					<span class="tooltip" id='haveAnAccount'>Don't you have an account?</span>
				</div>

				<div id='login-section' class="loginRegister" >
					<fieldset>
						<legend>
							Login
						</legend>
						<form id='login-form'>
							<div >
								<!--<label for="login-email">eMail:</label>-->
								<input type='text' id='login-email' placeholder="eMail"/>
							</div >
							<div >
								<!--<label for="login-password">Password:</label>-->
								<input type='password' id='login-password' placeholder="Password"/>
							</div >
							<div >
								<input type='submit' value='Log In' id='loginButton'/>
							</div >
						</form>
					</fieldset>
				</div>

				<div id='registerSection' class="loginRegister">
					<fieldset>
						<legend>
							Register
						</legend>
						<form id='register-form'>
							<img id='registrationSpinner' class='spinner' src='/images/spinner.gif' alt='Loading...' >
							<div id="registrationSuccess" class='hiddenMessage'>
								<span id="registrationSuccessMessage">Registered<i class="fa fa-check"></i></span>
							</div>
							<div >
								<!--<label for="registerUsername">Username:</label>-->
								<input type='text' id='registerUsername' placeholder="Username"/>
							</div >
							<div >
								<!--<label for="registerEmail">eMail:</label>-->
								<input class="has-error" type='text' id='registerEmail' placeholder="eMail"/>
							</div >
							<div >
								<!--<label for="registerPassword">Password:</label>-->
								<input type='password' id='registerPassword' placeholder="Password"/>
							</div >
							<div >
								<!--<label for="registerPasswordRepeated">Repeat password:</label>-->
								<input type='password' id='registerPasswordRepeated' placeholder="Repeat password"/>
							</div >
							<div >
								<input type='submit' value='Register' id='registerButton'/>
							</div >
						</form>
					</fieldset>
				</div>
			</section>

			<section id='userLogged' >
				<h5 hidden>You Are logged</h5>

				<section id='myTodolistSection'>
					<h5 hidden>My Todolist</h5>
					<section id="welcomeMessageSection">
						<h5 id="welcomeMessage">Welcome!</h5>
						<button type="submit" id="logOut">
							Log Out
						</button>
						<script id='welcomeMessageTemplate' type='application/x-tmpl-mustache'>
														{{#welcomeMessage}}
														
							<span title='{{user.email}}'>Welcome,{{user.name}}!</span>
							{{/welcomeMessage}}
						</script>
					</section>

					<section id='my-lists-section' >
						<h2>My Lists</h2>
						<div class='menuBar'>
							<i id='new-list-link' class="fa fa-bars"></i>
							<div id='newListOptions' class='menuBar'>
								<i id='editLists' class="fa fa-cog"></i>
							</div>
						</div>
						<form id='new-list-form' >
							
							<input type='text' name='name' id='new-list-name'>
							<button type='submit' >
								Create this list
							</button>
							<i id='new-list-cancel' class="cancel fa fa-times-circle-o"></i>
						</form>

						<ul id='my-lists'></ul>
						<img id='my-lists-spinner' class='spinner' src='/images/spinner.gif' alt='Loading...' >

						<script id='my-lists-template' type='application/x-tmpl-mustache'>
														{{#my_lists}}
							<li>
								<a href='#' class='todolist' data-uri='{{ uri }}'>{{ todolist.name }}</a>
								<span class='todoListInfo'>{{info}}</span>
								<a class='deleteList' data-uri='{{ uri }}'><i class="fa fa-times"></i><a>
							</li>
							{{/my_lists}}
						</script>
					</section>

					<section id='sharedWithMeListsSection' >
						<h2>Shared With Me</h2>
						<h4 id='sharedEmptyMessage' class='hiddenMessage'>Empty  </h4>
						<ul id='sharedWithMeLists'></ul>
						<img id='sharedWithMeSpinner' class='spinner' src='/images/spinner.gif' alt='Loading...' >

						<script id='sharedWithMeListsTemplate' type='application/x-tmpl-mustache'>
														{{#sharedWithMeLists}}
							<li>
							<a href='#' class='todolist' data-uri='{{uri}}'>{{todolist.name}}</a>
							<span class='todoListInfo'>{{info}} {{shareInfo}}</span></li>
							{{/sharedWithMeLists}}
						</script>
					</section>
				</section>

				<section id='one-list-section' >
					<h2>NOME DELLA LISTA</h2>
					<section id='editSection'>
						<h5 hidden>Edit</h5>
						<a id='editLink' href='#'>Edit</a>
					</section>

					<section id='shareWithSection'>
						<h5 hidden>ShareWith List</h5>
						<a id='shareLink' href='#'>Share</a>
						<div id='sharedWith' hidden="hidden">
							<img id='sharedWithSpinner' class='spinner' src='/images/spinner.gif' alt='Loading...'  >
							<ul id='sharedWithList'></ul><!-- insert <li class=peopleWhomIsShared></li>-->
							<script id='sharedWithTemplate' type='application/x-tmpl-mustache'>
																{{#sharedWithList}}
								<li class=peopleWhomIsShared>
								<a class='people' data-targetEmail='{{target.email}}' data-toggle="tooltip" data-placement="right" title='{{target.email}}'>{{target.name}}</a>
								<input type='checkbox' class='PrivilegeCheckbox' {{canCheck}} {{disabled}} data-privilegeType='1'>
								<label>Check/Uncheck</label>
								<input type='checkbox' class='PrivilegeCheckbox' {{canAddItems}} {{disabled}} data-privilegeType='2'>
								<label>Add/Remove Todoitems</label>
								<input type='checkbox' class='PrivilegeCheckbox' {{canShare}} {{disabled}} data-privilegeType='3'>
								<label>Can Share</label>
								<input type='checkbox' class='PrivilegeCheckbox' {{adminOption}} {{disabled}} data-privilegeType='0'>
								<label>Admin</label>
								<a class='revokeLink' {{hideRevoke}}><i class="fa fa-times"></i></a>
								</li>
								{{/sharedWithList}}
							</script>
							<form id='shareWithForm'>
								<input type='text' name='email' id='shareWithInput' >
								<span class='formError' id='shareIncorrectInput' hidden="hidden">invalid eMail!</span>
								<br>
								<button type='submit'>
									Share!
								</button>
							</form>
						</div>
					</section>

					<div>
						<ul id='todo-items-unchecked'>

						</ul>
						<img id='uncheckedSpinner' class='spinner' src='/images/spinner.gif' alt='Loading...' >

					</div>
					<script id='todoItemsTemplate' type='application/x-tmpl-mustache'>
												{{#todoItem}}
						<li>
							<input type='checkbox' {{status}}  class='todo-item'  data-uri='{{uri}}'> <label data-uri='{{uri}}' class='todoItemName' {{status}}>{{text}}</label >
							<span class='todoItemInfo' {{hiddenInfo}}>-Checked By
								<a {{hiddenChecker}} class='people' data-targetEmail='{{whoChecked.email}}'
									data-toggle="tooltip" data-placement="right" title='{{whoChecked.email}}'>{{whoChecked.name}}</a>
								<a class='people' data-targetEmail='{{me.email}}' data-toggle="tooltip" data-placement="right" title='{{me.email}}' {{hiddenMe}}>Me</a>
								{{time.day}}/{{time.month}}/{{time.fullYear}} {{time.hour}}:{{time.minute}}
							</span>
							<i class="removeItem fa fa-times" data-uri='{{uri}}' style="display:none" ></i>
						</li>
						{{/todoItem}}
					</script>

					<form id='new-todo-item-form'>
						<input type='text' name='text' id='new-todo-item-text' >
						<br>
						<button type='submit' >
							Add this item
						</button>
						<img id='newTodoItemSpinner' class='spinner' src='/images/spinner.gif' alt='Loading...' >

					</form>
					<div>
						<ul id='todo-items-checked'>

						</ul>
						<img id='checkedSpinner' class='spinner' src='/images/spinner.gif' alt='Loading...' >

					</div>
				</section>
			</section>
			<footer>
				<p>
					<span id="author" > Autore: Andrea Marisio 718989 </span>
					<span id="examSession" > Appello: Gennaio 2016 </span>
				</p>
			</footer>
		</section>

		<script src='/scripts/lib/jquery-1.10.2.min.js'></script>
		<script src='/scripts/lib/mustache.js'></script>
		<script src="/scripts/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<script src="scripts.js"></script>
	</body>
</html>
