#error {
	color: black;
	background: pink;
	border-radius: 25px;
	border: 2px solid red;
	padding: 20px;
	box-shadow: 5px 5px 2px #888888;
}
#todo-items-unchecked, #todo-items-checked {
	list-style: none;
}
.homeLink {
	position: absolute;
	display: block;
	left: 0%;
}
#author {
	padding: 1%;
	position: absolute;
	top: 0%;
}
#examSession {
	padding: 1%;
	position: absolute;
	right: 0%;
	bottom: -1%;
}

body {
	background: #e9e9e9;
	color: #666666;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}
#myTodolistSection{
	padding:5px;
}


.menuBar{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}
.menuBar .menuBar{
	display:none;
	position:relative;
	margin:5%;
	right:0%;
}

.deleteList,.removeItem,.hiddenMessage,.spinner,#userLogged{
	display:none;
}
#registrationSuccessMessage{
	color: #559933;
}
.todolisManager {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: -ms-fit-content;
	flex-direction: column;
	background: #ffffff;
	border-top: 5px solid #33b5e5;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin: auto;
}
.todolisManager .toggle {
	cursor: pointer;
	position: absolute;
	top: -0;
	right: -0;
	background: #33b5e5;
	width: 30px;
	height: 30px;
	margin: -5px 0 0;
	color: #ffffff;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
#loginRegistrationToggle:hover + .tooltip {
	display: block;
}
.todolisManager .toggle .tooltip {
	display: none;
	position: relative;
	bottom: 100%;
	left: 100%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	background: rgba(0, 0, 0, 0.6);
	padding: 15%;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
}
.todolisManager .toggle .tooltip:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -5px;
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.todolisManager .loginRegister {
	display: none;
	padding: 4%;
}
.todolisManager .loginRegister:nth-child(3) {
	display: block;
}
.todolisManager legend {
	margin: 0 0 20px;
	color: #555555;
	font-size: 18px;
	font-weight: 200;
	padding: 10px 15px;
	line-height: 1;
}

.todolisManager input:focus, #userLogged button {
	border: 1px solid #33b5e5;
	color: #333333;
}
li{
	white-space: nowrap; 
}

footer {
	white-space: nowrap; 
	position: relative;
	flex-wrap: wrap;
	width: 100%;
	left: -0%;
	background: #33b5e5;
	padding: 15px 5px;
	box-sizing: border-box;
	color: #666666;
	font-size: 12px;
}
footer span {
	display: block;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-style: italic;
	color: #454545;
}
a, a:visited, .todoItemName {
	font-weight: bold;
	color: #454545;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
	text-decoration: underline;
}
i{
	cursor: pointer;
}
#new-list-cancel {
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	margin: 3px;
}
i:hover,a:hover  {
	-webkit-filter:drop-shadow(0px 0px 5px rgba(100,149,237,.5));
	filter: drop-shadow(0px 0px 5px rgba(100,149,237,.5));
	color: #33b5e5;
}

#new-list-link {
	font-size: 125%;
	color: #33b5e5;
}
#userLogged.spinner, #one-list-section, #new-list-form {
	display: none;
}
#new-list-form{
	white-space: nowrap; 
}
#userLogged, #userNotLogged {
	display: none;
	margin: 3%;
}
#userLogged {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;

}
#userLogged button {

	cursor: pointer;
	background: #33b5e5;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.todoItemInfo, .todoListInfo {
	color: #777777;
	font-weight: bold;
	font-size: 75%;
}
#todo-items-checked .todoItemName {
	text-decoration: line-through;
	color: #555555;
}
input[type=checkbox] {
	position: absolute;
	padding: 0;
	border: 0;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}

input[type=checkbox]:disabled + label {
    opacity: 0.6;
}
input[type=checkbox]:enabled:hover + label,input[type=checkbox]:enabled + label:hover {
	-webkit-filter:drop-shadow(0px 0px 5px rgba(100,149,237,.5));
	filter: drop-shadow(0px 0px 5px rgba(100,149,237,.5));
}

input[type=checkbox] + label {
	background-image: url(images/csscheckbox.png);
	padding-left: 20px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	vertical-align: middle;
}

input[type=checkbox]:checked + label {
	background-position: 0 -18px;
}

#todo-items-checked {
	font-size: 90%;
}

#logOut {
	position: absolute;
	right: 0%;
	top: 0%;
}

#userNotLogged  input {
	outline: none;
	display: block;
	width: 100%;
	border: 1px solid #d9d9d9;
	margin: 0 0 20px;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 400;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

#userNotLogged input[type="submit"] {
	cursor: pointer;
	background: #33b5e5;
	width: 100%;
	border: 0;
	padding: 10px 15px;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
#userNotLogged input[type="submit"]:hover, #userLogged button:hover {
	background: #178ab4;
}
#my-lists-section {
	margin: 1%;
}
* {
	box-sizing: border-box;
} 